.alert {
  @include radius-default;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 0;
  font-family: "R-medium" !important;

  &.alert-info {
    color: $color-1  !important;
    background-color: $color-5;
  }

  &.alert-success {
    color: $color-1  !important;
    background-color: $color-5;
  }

  &.alert-danger {
    color: $color-1  !important;
    background-color: $color-5;
  }

}
