html {
  font-size: 13.5pt;
  @include bp(xxl) {
    font-size: 100%;
  }
  @include bp(xl) {
    font-size: 100%;
  }
  @include bp(lg) {
    font-size: 100%;
  }
  @include bp(md) {
    font-size: 100%;
  }
}

body
{
	margin: 0 auto;
	font-weight: lighter;
	font-family: 'R-regular';
	font-size: $default;
	line-height: 1.3;
}

.wrapper
{
	display: flex;
	flex-direction: column;
	width: 100%;
}

a
{
	color: $color-4;
	text-decoration: none;

  &:hover
  {
    color: $color-2;
  }
}

main
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  min-height: calc(100vh - var(--header-height));
	font-family: 'R-regular';

  section
	{
		display: flex;
	  z-index: 0;
		margin: $m-base auto;

		&:first-child
		{
			margin: $m-middle auto $m-base;
		}
	}
}
