h1 {
    font-family: 'M-regular';
    font-size: $notable;
    color: $color-2;
    margin: 1em auto;
    line-height: 1;
    width:100%;
    text-align: center;
    z-index: 5;

    &::before
    {
      content: " ";
      position: absolute;
      width: 2em;
      height: 2em;
      background-image: url("../../images/Chicchi.png");
      background-repeat: no-repeat;
      background-size: 2.5em;
      transform: scalex(-1);
      margin: 0 -1em;
      z-index: -5;
      background-position-y: -0.2em;
    }
}

h2 {
    font-family: 'R-regular';
    font-size: $medium;
    color: $color-1;
    margin-bottom: 2rem;
    line-height: 1;
}

h3 {
    font-family: 'R-regular';
    font-size: $large;
    color: $color-1;
    margin-bottom: 0;
    line-height: 1;
}

h4 {
    font-family: 'R-regular';
    font-size: $medium-large;
    color: $color-1;
    margin-bottom: 1rem;
}

h5 {
    font-family: 'R-bold';
    font-size: $medium;
    color: $color-1;
    margin-bottom: 1rem;
}

h6 {
    font-family: 'R-regular';
    font-size: $small;
    color: $color-1;
    margin-bottom: 0;
}

thead {
    th {
        font-family: 'R-regular';
        font-size: $medium;
        color: $color-1;
    }
}

strong {
    font-weight: bold;
}
