{% extends 'base.html.twig' %}

{% block title %} {% trans %} register {% endtrans %} {% endblock %}

{% block body %}

    <div class="container">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{% trans %} register {% endtrans %}</h1>

    {{ form_start(registrationForm, { 'attr': {'class': 'form-signin'} }) }}
        {{ form_row(registrationForm.email, {
            label: 'email'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'password'
        }) }}
        {{ form_row(registrationForm.agreeTerms, { 'label': 'accept terms and condition' }) }}

        <button type="submit" class="btn">{% trans %} register {% endtrans %}</button>
    {{ form_end(registrationForm) }}

    </div>

{% endblock %}
