.btn {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background-color: $color-6;
  color: #000;
  font-family: 'R-regular';
  font-size: $default;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  @include radius-default;

  &:focus {
    outline: none;
  }
  @include bp(md) {
    max-width: initial;
    width: 100%;
    display: block;
    text-align: center;
  }

  &.secondary {
    background-color: $color-4;
    color: $color-6;
  }

  &.light {
    background-color: $color-6;
    color: #ffffff;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }

  &.fill {
    width: 100%;
  }

}
