#homeBanner
{
	display: flex;
  height: 55vh;
  width: 100%;
  margin: $m-middle auto;
  background-image: url("../../images/FotoTop.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -5vh;
	overflow: hidden;
	outline: 1px solid white;
	outline-offset: -0.5em;

	@include bp(lg) {
		height: 35vh;
		background-position: top;

		@include bp(xs) {
			height: 30vh;
		}
	}

}
