@charset "UTF-8";

/* http://clubmate.fi/scss-font-face-mixin/ */

@mixin font-face($style-name, $file, $family, $fontweight, $fontstyle, $category:"") {
    $filepath: "../../fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        // src:url($filepath + ".eot");
        src:
            // url($filepath + ".eot?#iefix") format('embedded-opentype'),
            // url($filepath + ".woff") format('woff'),
            url($filepath + ".otf") format('opentype'),
            // url($filepath + ".ttf") format('truetype'),
            // url($filepath + ".svg#" + $style-name + "") format('svg')
            ;
        font-weight: $fontweight;
        font-style: $fontstyle;
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                font-family: "#{$style-name}", #{$category};
            }
            @else {
                font-family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}


/* @include font-face($style-name, $file, $family, $fontweight, $fontstyle, $category);  */
/* @include font-face(NOME, FILE, CARTELLA, PESO, STYLE, SERIF);  */

// BenchNine
@include font-face('M-regular', 'WeatherSunday', 'WeatherSunday', 400, normal, 'sans serif');

// WeatherSunday
@include font-face('R-regular', 'BenchNine-Light', 'BenchNine-Light', 400, normal, 'sans serif');
@include font-face('R-medium', 'BenchNine-Light', 'BenchNine-Light', 500, normal, 'sans serif');
@include font-face('R-bold', 'BenchNine-Light', 'BenchNine-Light', 700, normal, 'sans serif');
