{% if not (product.image) %}
  {% set image = product.attachments|first %}
{% else %}
  {% set image = product.image %}
{% endif %}

<a href="/upload/images/products/{{ image }}" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{ product.id }}" data-featherlight-close-on-click="anywhere">

<img class="bd-placeholder-img card-img-top"
  src="/upload/images/products/{{ image }}"
  alt="{{ product.name }}"
  title="{{ product.name }}"
/>

</a>
