<div class="form_widget">
<div class="form_control">

    <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{ field.getUniqueId() }}" data-featherlight-close-on-click="anywhere">
      <img src="/upload/images/products/{{ field.value }}" />
    </a>

    <div id="ea-lightbox-{{ field.getUniqueId() }}" class="ea-lightbox" >
      <img src="/upload/images/products/{{ field.value }}" />
    </div>

</div>
</div>
