{% extends 'base.html.twig' %}

{% block title %} {{ product.name }}{% endblock %}

{% block body %}

    <h1> Prodotti </h1>

<div class="container-xl">
<div class="row justify-content-center">

{% if product %}
<div class="col-md-3">
  <article class="card mb-4 shadow-sm">

    <img class="bd-placeholder-img card-img-top"
      {% if not product.image %}
        src="/upload/images/products/{{ product.attachments|first }}"
      {% else %}
        src="/upload/images/products/{{ product.image }}"
      {% endif %}
         alt="{{ product.name }}"
         title="{{ product.name }}"
    />

    <div class="card-body">

      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.fullDescription }}</p>

      <div class="d-flex justify-content-between align-items-center">

      {% if not is_granted('ROLE_USER') %}
          <span> Fai <a href="{{ path('user_login') }}">Login</a> per continuare</span>
      {% else %}
          {{ form_start(form) }}
          <div class="form-group">
              {{ form_label(form.quantity) }}
              {{ form_widget(form.quantity, {
                  'attr': {
                      'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                  }
              }) }}
              <div class="invalid-feedback">
                  {{ form_errors(form.quantity) }}
              </div>
          </div>
          {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning'}}) }}
          {{ form_end(form) }}
        {% endif %}

        <span>{{ product.price }} €</span>
      </div>

    </div>
  </article>
</div>

{% else %}
    No products have been found.

{% endif %}

</div>
</div>

{% endblock %}
