{% extends 'base.html.twig' %}

{% block title %} {% trans %} Contatti {% endtrans %} {% endblock %}

{% block body %}

<h1>{% trans %} Contatti {% endtrans %}</h1>

<div class="container">
{{ form(form)}}

</div>
{% endblock %}
