{% extends 'base.html.twig' %}

{% block title %} Cookie policy
{% endblock %}

{% block body %}

  <h1>Cookie policy</h1>

  <div class="container privacy-and-cookie">
    <div class="row">
      <div class="col-12">
        <h3>Che cosa sono i cookies e come li utilizziamo</h3>
        <p>Un cookie è un semplice file di testo che viene memorizzato sul tuo computer o dispositivo mobile dal server di un sito web e che solo quel server sarà in grado di recuperare o leggerne il contenuto. Il dato permette al sito di mantenere le
          informazioni dell’utente tra le pagine ed anche di analizzare il modo in cui questi interagisce con il sito. I cookies servono infatti a migliorare la tua esperienza di navigazione e fornire informazioni al gestore del sito sull’utilizzo che ne stai
          facendo al fine di ottenere dati statistici, un profilo di utilizzo e veicolare messaggi pubblicitari in linea con i tuoi interessi.</p>
        <h3>Che cosa sono i cookies e come li utilizziamo</h3>
        <p>La sezione di “Guida” del tuo browser dovrebbe essere in grado di aiutarti con la gestione delle impostazioni dei cookies. Se non desideri ricevere cookies, è possibile modificare il tuo browser in modo che ti avvisi su quando essi vengono
          inviati. È anche possibile eliminare in qualsiasi momento i cookies che sono già stati memorizzati, tramite le impostazioni del browser. È possibile scegliere se accettare o meno i cookies che vengono impostati dal nostro sito e dai nostri fornitori,
          nella pagina delle impostazioni dei cookie. Ti informiamo che la maggior parte del nostro sito web lavora senza l’utilizzo di cookies, ma che se si sceglie di disabilitare alcuni di essi, si perdono caratteristiche e funzionalità.</p>
        <h3>Quali sono le principali tipologie di Cookies?</h3>
        <p>Di seguito, una breve descrizione delle principali tipologie di cookies:</p>
        <h4>Session e Persistent Cookies</h4>
        <p>I Session Cookies, che contengono l’informazione che viene utilizzata nella tua sessione corrente del browser. Questi cookies vengono automaticamente cancellati quando chiudi il browser. Nulla viene conservato sul tuo computer oltre il tempo di
          utilizzazione del sito (ASP.NET_SessionId e language).</p>
        <p>I Persistent Cookies (tipo ASPXANONYMOUS), che vengono utilizzati per mantenere l’informazione che viene utilizzata nel periodo tra un accesso e l’altro al sito web, o utilizzati per finalità tecniche e per migliorare la navigazione sul sito.
          Questo dato permette ai siti di riconoscere che sei utente o visitatore già noto e si adatta di conseguenza. I cookies “persistenti” hanno una durata che viene fissata dal sito web e che può variare da pochi minuti a diversi anni.</p>
        <h4>Cookies di prima parte e di terze parti</h4>
        <p>I Cookies di prima parte, che appartengono al sito che li ha creati. I Cookies di terze parti, che sono creati da domini esterni al sito ed i cui dati sono conservati presso il soggetto terzo. Black Coffee Spa non è responsabile per il contenuto di
          siti web di terzi che possono impostare o meno i cookies.</p>
        <h4>Cookie tecnici e di profilazione</h4>
        <p>
          I Cookie tecnici, che sono quelli utilizzati al solo fine di effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente necessaria al fornitore di un servizio della società dell’informazione esplicitamente richiesto dall’abbonato o dall’utente a erogare tale servizio (cfr. art. 122, comma 1, del Codice Privacy). Essi non vengono utilizzati per scopi ulteriori e sono normalmente installati direttamente dal titolare o gestore del sito web. Tra essi figurano, ad esempio, i Cookie di funzionalità, che permettono all’utente la navigazione in funzione di una serie di criteri selezionati (ad esempio, la lingua, i prodotti selezionati per l’acquisto) al fine di migliorare il servizio reso. I Cookie Analytics sono assimilati ai cookie tecnici laddove utilizzati direttamente dal gestore del sito per raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito stesso.
          I Cookie di profilazione, che sono volti a creare profili relativi all’utente e vengono utilizzati al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dallo stesso nell’ambito della navigazione in rete. In ragione della particolare invasività che tali dispositivi possono avere nell’ambito della sfera privata degli utenti, la normativa europea e italiana prevede che l’utente debba essere adeguatamente informato sull’uso degli stessi ed esprimere così il proprio valido consenso. Questo sito non utilizza questa tipologia di cookies.
        </p>
          <h3 class="text-center">Quali Cookie utilizza il presente sito web e quali sono le loro Finalità</h3>
      </div>
      <div class="col-lg-6">
        <ul>
          <li>NOME COOKIE: __PHPSESSIONID</li>
          <li>SCOPO: Utilizzato per gestire la sessione di .php</li>
          <li>SCADENZA: Di sessione</li>
          <li>ORIGINE: Black Coffee</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
