{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

<main>
    <div class="container bg-white">
      <div id="homeBanner">
      </div>
  </div>

  <section class="categories">
    <h1>Le nostre proposte</h1>
    <nav>

{% for category in products_category %}
      <a href="{{ path('products')}}"
          {% if (loop.first ) %}
            data-aos-delay="-100" data-aos="fade-left" data-aos-once="true"
          {% elseif (loop.last ) %}
            data-aos-delay="-100" data-aos="fade-right" data-aos-once="true"
          {% endif %}
      >
        <img src="/upload/images/products/{{ category.image }}" alt="{{ category.name }}" title="{{ category.name }}">
        <span>{{ category.name }}</span>
      </a>
{% endfor %}

    </nav>
    <a href="products">Scoprile tutte</a>
  </section>

  <section class="about">
    <h1>Parlando di noi</h1>
    <article>
      <p>Il mondo del caffè sta cambiando. Negli ultimi anni stiamo assistendo ad una <strong>forte evoluzione culturale del caffè</strong>. Alcuni consumatori cominciano a rendersi conto che questo prodotto può essere un universo di varietà, di aromi e di sensazioni straordinarie.</p>
      <p>Abbiamo voluto realizzare le <strong>nostre miscele</strong> attraverso la sperimentazione, perché cercare la qualità non vuol dire fossilizzarsi su un gusto, ma cercarlo. Abbiamo, perciò cominciato a utilizzare metodi di estrazione diversi, abbiamo capito che la tostatura può cambiare totalmente il gusto di un caffè e che si può sperimentare anche tostando il proprio caffè, a casa, a diversi livelli, con diversi profili.</p>
      <p>Il nostro team è composto da:</p>
      <ul>

{% for worker in workers %}
      <li><strong>&#62; {{ worker.name|capitalize }} {{ worker.lastname|capitalize }} </strong></li>
      <li> {{ worker.description|capitalize }} </li>
{% endfor %}

      </ul>
    </article>
  </section>
</main>




{% endblock %}
