{% extends 'base.html.twig' %}

{% block title %}Privacy policy
{% endblock %}

{% block body %}

  <h1>Privacy policy</h1>

  <div class="container privacy-and-cookie">
    <div class="row">
      <div class="col-12">
        <h3>
          INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI (ai sensi dell’art. 13 del Regolamento UE 2016/679)<br>
          Titolare e Responsabile del trattamento dei dati personali
        </h3>
        <p>
          Black Coffee S.p.A., con sede legale in Firenze, Via example 10, P. IVA 123456789 (di seguito, “Black Coffee” o il “Titolare”), in qualità di Titolare del Trattamento, La informa ai sensi dell’art. 13 D.Lgs. 30.06.2003 n. 196 (“Codice Privacy”) e
          dell’art. 13 del Regolamento UE 2016/679 (“GDPR”) che i dati personali da Lei comunicati saranno trattati in conformità con quanto stabilito dalla normativa applicabile in materia di protezione dei dati personali. Responsabile del trattamento dei
          dati personali (“Responsabile”) è ancora Black Coffee S.p.A.
        </p>
        <h3>Responsabile della Protezione dei dati personali (RPD)</h3>
        <p>
          Il Titolare ha nominato un Responsabile della Protezione dei Dati (R.P.D.), consulente esperto e qualificato che affianca il Titolare nella gestione del trattamento dei dati in conformità alla normativa vigente. Il Responsabile della Protezione dei
          dati personali può essere contattato al seguente indirizzo e-mail
          <a href="mailto:rpd@example.com">admin@example.com</a>
        </p>
        <h3>
          Tipologia di dati personali
        </h3>
        <p>
          I dati personali, tra cui i nominativi, i numeri di telefono, gli indirizzi (compresi quelli di posta elettronica) – siano essi direttamente da Lei forniti nel Modulo di Adesione o reperiti presso fonti pubbliche – saranno trattati dal Titolare
          conformemente al GDPR ed alla normativa nazionale (Codice Privacy), compresi i provvedimenti emanati dall’Autorità di Controllo (Garante per la protezione dei dati personali).
        </p>
        <h3>
          Oggetto e Modalità del Trattamento
        </h3>
        <p>
          Per “trattamento” di dati personali, ai sensi dell’art. 4 del Codice Privacy e dell’art. 4 del GDPR, deve intendersi qualsiasi operazione o insieme di operazioni, compiute con o senza l’ausilio di processi automatizzati e applicate ai dati personali
          o insiemi di dati personali, come la raccolta, la registrazione, l’organizzazione, la strutturazione, la conservazione, l’elaborazione, l’adattamento o la modifica, l’estrazione, la consultazione, l’uso, la comunicazione mediante trasmissione,
          diffusione o altra forma di messa a disposizione, il raffronto o l’interconnessione, la limitazione, la cancellazione o la distruzione. Tali dati personali verranno trattati manualmente e/o con il supporto di mezzi informatici o telematici, secondo i
          principi di correttezza, lealtà e trasparenza previsti dalla normativa in materia di protezione dei dati personali e tutelando la riservatezza del soggetto cui i dati si riferiscono tramite idonee misure di sicurezza, ad esempio, impedendo l’accesso
          ai dati a soggetti non autorizzati (salvo i casi in cui la comunicazione dei dati sia obbligatoria per legge). Il trattamento dei dati personali richiesti è necessario per la partecipazione ai progetti gestiti da Black Coffee S.p.A.. Il mancato
          conferimento dei dati comporterà l’impossibilità di partecipare al progetto
        </p>
        <h3>
          Finalità e base giuridica del trattamento
        </h3>
        <p>
          Il Titolare tratterà i Suoi dati personali nello svolgimento della sua attività di società di marketing e comunicazione, per le finalità e la partecipazione connesse alle iniziative gestite da Black Coffee S.p.A. e precisamente per: permettere la
          registrazione e la partecipazione all’iniziativa, invio di comunicazioni relative al concorso, invio di materiale didattico gratuito, invio di comunicazioni relative ad attività gratuite d’interesse didattico, fornire servizi di assistenza e
          supporto, procedere con l’iscrizione alla newsletter, gestire attività di ricerche di mercato. Il Suo consenso espresso liberamente, acquisito mediante la compilazione e sottoscrizione dei moduli di adesione alle iniziative Black Coffee o tramite i
          canali messi a disposizione dell’utente, rende lecito il trattamento dei dati personali forniti.
        </p>
        <h3>
          Destinatari dei Dati Personali
        </h3>
        <p>
          I Suoi dati personali potranno essere resi accessibili, per le finalità sopra menzionate, oltre che al Responsabile ed al R.P.D., ai dipendenti ed ai collaboratori del Titolare espressamente autorizzati al trattamento, sotto la diretta autorità del
          Titolare ed unicamente in esecuzione delle istruzioni da questo impartite. Qualora i dati personali dovessero essere comunicati in adempimento ad un obbligo di legge o contrattuale, i dati potranno essere comunicati ai soggetti legittimati per legge
          o per contratto a riceverli. I dati sono trattati all’interno dell’Unione Europea e non sono oggetto di trasferimento all’estero. Ove, tuttavia, per specifiche esigenze connesse alla sede di localizzazione dei server della Società e coordinamento
          delle attività di gruppo fosse necessario trasferire i dati verso paesi situati fuori dall’Unione Europea, il Titolare si impegna a garantire adeguati livelli di tutela e salvaguardia dei dati personali, nel rispetto delle norme applicabili, ivi
          inclusa la stipulazione di clausole contrattuali tipo. In ogni caso i dati personali non saranno visibili dagli altri utenti, ma solo a persone istruite e autorizzate dal Titolare.
        </p>
        <h3>
          Periodo di conservazione dei Dati Personali
        </h3>
        <p>
          I dati personali oggetto di trattamento per le finalità di cui sopra saranno conservati, nel rispetto della normativa applicabile per la protezione dei dati personali, per il periodo necessario al compiuto adempimento delle finalità del trattamento
          (“principio di limitazione della conservazione”, art.5, GDPR) o in base alle scadenze previste dalle norme di legge. La verifica sulla obsolescenza dei dati conservati in relazione alle finalità per cui sono stati raccolti viene effettuata
          periodicamente. I dati personali saranno conservati, per il periodo indicato, al fine di proporLe la partecipazione a nuovi progetti.
        </p>
        <h3>
          Diritti degli interessati
        </h3>
        <p>
          Ai sensi degli artt. 15 – 21 del GDPR, in relazione ai dati personali comunicati, Lei ha il diritto di: ricevere conferma dell’esistenza dei dati personali e accedere al loro contenuto in forma intelligibile; ricevere informazioni sulle finalità del
          trattamento, sulle categorie di dati personali in questione, sui destinatari a cui i dati personali sono stati o saranno comunicati, sul periodo di conservazione dei dati (diritti di accesso); ottenere l’aggiornamento, la modifica e/o la rettifica
          dei dati personali (diritto di rettifica); chiedere la cancellazione dei dati personali non più necessari rispetto alle finalità per le quali sono stati raccolti o trattati, di quelli per i quali Lei abbia revocato il consenso al trattamento, di
          quelli trattati illecitamente; la cancellazione dei dati può essere altresì richiesta in caso in cui Lei si sia opposto al trattamento, o nel caso in cui la cancellazione derivi da un obbligo di legge (diritto all’oblio); ottenere la limitazione del
          trattamento dei dati dei quali sia stata contestata l’esattezza, che siano stati trattati illecitamente, dei dati necessari per l’accertamento, l’esercizio o la difesa di un diritto in sede giudiziaria e, inoltre, in caso di opposizione al
          trattamento (diritto alla limitazione); opporsi al trattamento dei dati personali che La riguardano (diritto di opposizione); revocare il consenso prestato, senza pregiudizio per la liceità del trattamento basato sul consenso reso prima della revoca;
          proporre reclamo all’Autorità di controllo in caso di violazione della disciplina in materia di protezione dei dati personali: per esercitare tale diritto, potrà rivolgersi al Garante per la Protezione dei Dati Personali; ricevere copia dei dati che
          La riguardano, in formato strutturato, di uso comune e leggibile da dispositivo automatico, e chiedere che tali dati siano trasmessi ad un altro Titolare del trattamento (diritto alla portabilità dei dati). Per maggiori informazioni relative ai dati
          personali potrà\potrete rivolgersi al Responsabile per la Protezione dei Dati di Black Coffee, al seguente indirizzo <a href="mailto:rpd@example.com">rpd@example.com</a>. Per l’esercizio dei Suoi diritti e per la revoca del Suo consenso Lei potrà inviare un’email all’indirizzo
          <a href="mailto:privacy@example.com">privacy@example.com</a> Per maggiori informazioni relative ai dati personali potrà\potrete rivolgersi al Responsabile per la Protezione dei Dati di Black Coffee, al seguente indirizzo <a href="mailto:rpd@example.com">rpd@example.com</a>
        </p>
        <h3>
          Modifiche alla informativa
        </h3>
        <p>
          Black Coffee S.p.a. potrà apportare modifiche alla informativa al fine di recepire cambiamenti della normativa nazionale e/o comunitaria ovvero per adeguarsi ad intervenute innovazioni tecnologiche. Eventuali modifiche saranno riportate su questa pagina web resa costantemente consultabile mediante il collegamento ipertestuale situato nel footer del Sito. Gli Utenti dovrebbero leggere di tanto in tanto l’informativa per verificare se Black Coffee S.p.a. abbia apportato delle modifiche.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
