{% extends 'base.html.twig' %}

{% block title %} Profile {% endblock %}

{% block body %}

<div class="container profile">

  <h1> Il mio Profilo </h1>
  <p> In questa sezione è possibile modificare le informazioni del proprio profilo </p>

  {{ form_start(form) }}

  {{ form_end(form) }}

</div>
{% endblock %}
