
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<style>
.ea-lightbox-thumbnail img:hover {
 cursor:zoom-in
}
.ea-lightbox {
 display:none
}
.ea-lightbox img {
 max-width:100%;
 width:100%
}
.featherlight .ea-lightbox {
 display:block
}
.featherlight .ea-lightbox:hover {
 cursor:zoom-out
}
</style>

<td class="sonata-ba-list-field sonata-ba-list-field-text">
  <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#lightbox{{ object.id }}" data-featherlight-close-on-click="anywhere">
    <img src="/upload/images/products/{{ value }}" style="width: 50px; height: auto" />
  </a>

  <div id="lightbox{{ object.id }}" class="ea-lightbox">
    <img src="/upload/images/products/{{ value }}" />
  </div>
</td>
