{% block user_block %}
    {% if app.user %}
        <li class="user-footer">
            <div class="pull-right">
                <a href="{{ path('user_logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
