/*------------------------------------*\
    COLORS
\*------------------------------------*/

// Red dark
$color-1: #220000;
// Brown
$color-2: #341F10;
// Gray light
$color-3: #EFEFEF;
// Orange link
$color-4: #B18420;
// Pink light
$color-5: #F7F6EA;
// Brown light
$color-6: #7C6B36;

// --nav: #E7E6DD;
// --link: #B18420;
//
// --background: #fff;
// --heading: #301D0F;
// --text: #fff;
// --section:#F7F6EA;

/*------------------------------------*\
    FONT SIZE
\*------------------------------------*/
$big-xl: 15rem;
$big: 10rem;
$notable-xl: 6rem;
$notable: 3rem;
$large: 2.4rem;
$medium-large: 2.1rem;
$medium: 1.8rem;
$default: 1.5rem;
$small: 1.3rem;

/*------------------------------------*\
    MEASURES
\*------------------------------------*/
$m-big: 5rem;
$m-large: 4rem;
$m-notable: 3rem;
$m-middle: 2rem;
$m-base: 1rem;
