/* **************************************************************************** schermi compatti */

@media screen and (max-width:1000px)
{
  header nav.header > a img {
    margin: 4rem 0 0;
    transform: scale(0.8) translateX(-100%);
  }
}



@media screen and (max-width:768px)
{

  header nav.header nav
  {
		visibility: hidden;
    width: 0;
  }

  header nav.header
  {
    width: 100%;
  }

  header nav.header > a
  {
    margin-left: 20%;
  }

  header nav.header .menuhandle
  {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10%;
    padding: 0 0.3rem;
    border-radius: 5px;
  }

  header nav.header .menuhandle:hover
  {
    background-color: var(--first);
  }


  nav.header nav a:not(.sel)
  {
    color: white;
  }

  nav.header nav a:not(.sel):hover
  {
    color: white;
  }

  nav.header a.sel
  {
    background-color: rgba(255,255,255,0.1);
    color: var(--nav);
    transform: scale(1.1);
  }

  nav.header a.sel::before
  {
    display: none;
  }

  header nav.header > a img {
    margin: 2rem 0 0;
    transform: scale(0.5) translateX(-100%);
  }

  header nav.header nav
  {
    flex-direction: column;
    top: calc(150px + 1.3em);
    position: absolute;
    background-color: var(--first);
    width: 100%;
    font-size: 0.8em;
  }

  header nav.header #menu-open:checked ~ nav
  {
    visibility: visible;
    display: block;
    z-index: 100;
    background-color: rgba(34,0,0,0.9);
  }

  header nav.header #menu-open:checked ~ nav a
  {
    width: 100%;
    font-size: 2em;
    text-align: center;
  }

  header nav.header nav:hover a:after,
  header nav.header nav .sel:after
  {
    display: none;
    width:0%;
  }











  div.banner
  {
    height: 5rem;
  }


  section.about h1
  {
    margin: 0 auto;
    text-align: center;
  }

  section.about article
  {
    column-count: 1;
  }

  main.form form
  {
  	width:60%;
  }

  label.error
  {
    font-size: 0.8em;
    margin-top: -1.5em;
    margin-left: 0;
  }

  header::before
  {
    background-origin: border-box;
    background-clip: border-box;
    background-position-x: center;
    background-size: 250%;
  }




  footer > *
  {
    padding: 1em 0;
  }

  .footwrap
  {
  	height: 100%;
  	width: 80%;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  }

  .footwrap:first-of-type
  {
  	text-align: center;
  		width: 80%;
  }

  .footwrap:last-of-type
  {
  	text-align: center;
  	justify-content: flex-start;
  		width: 80%;
  }





  /*------------------------------------------------------------------------------
  05. PAGINA CARRELLO
  ------------------------------------------------------------------------------*/

  main.carrello
  {
    flex-direction: column;
    align-items: center;
  }

  section.carrello
  {
    width:95%;
  }



  /*------------------------------------------------------------------------------
  07. PAGINE ALBUM
  ------------------------------------------------------------------------------*/


  main.items
  {
    padding: 1em 0;
    font-size: 0.85em;
  	display: flex;
  	flex-direction: row;
  }


  main.items article.item
  {
    min-width: 30%;
    max-width: 30%;
    /* width: 25%;                                                                  /* 3 elements */

  }


}


@media screen and (max-width:468px)
{
  main.form form
  {
  	width:90%;
  }

}
