
section.about
{
	display: flex;
	justify-content: center;
  align-content: flex-start;
	flex-wrap: wrap;
  width: 100%;
	margin: 0 auto;
	padding: 1em 0;

  background-image: url("../../images/MacchiaCerchi.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 35rem;
  background-size: 13rem;

	h1
	{
	  text-align: right;
		margin-right: 52%;
		font-size: 2em;

		@include bp(lg) {
			text-align: center;
			margin-right: unset;
		}

	}

	article
	{
	  text-align: justify;
	  padding: 0.5em 0;
	  column-count: 2;
		column-gap: 2em;
	  width: 55vw;

		@include bp(lg) {
			width: 65vw;
			column-count: 1;
		}

		p
		{
		  padding: 0.5em 0;
		}

		ul
		{
		  list-style: none;
			padding-bottom: 2em;

			li:nth-child(2n+1)
			{
			  color: $color-4;
			  font-size: 0.8em;
			  padding-top: 1em;
			}
		}
	}

}
