
main.cart
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.8em 0;

  section
  {
  	margin:0;
  	padding: 0.8em 0;
  }

  section.cart
  {
  	display: flex;
  	flex-direction: column;
  }

  section.checkout h2
  {
  	text-align: center
  }


}
