footer
{
  background-color: $color-1;
  color: #fff;

  background-image: url("../../images/MacchiaBottom.svg");
  background-repeat: no-repeat;
  background-position-x: 3rem;
  background-position-y: 1rem;
  background-size: 20rem;

  .row {
    @include bp(xs) {
      flex-direction: column;
    }
  }

  .social
  {
    .row
    {
      flex-direction: row;
    }
  }

  .footwrap
  {
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    flex: 0 0 25%;
    max-width: 50%;

    @include bp(md) {
      text-align: center;
      padding: 1em 0;
      margin: 0 auto;
    }

    &:first-of-type
    {
  	  text-align: right;

      @include bp(md) {
        text-align: center;
      }
    }

    &:nth-of-type(2)
    {
      text-align: center;
      flex: 0 0 33%;
      max-width: 33%;

      @include bp(md) {
        text-align: center;
      }
    }

    &:last-of-type
    {
    	text-align: center;
    	justify-content: flex-start;
    }

    h2
    {
      font-size: 1.7em;
      color: #fff;

      sup
      {
        font-size: 50%;
        position: absolute;
        top: 1em;
      }
    }

  }

  .foot ul
  {
    list-style: none;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    background-image: url("../../images/BgBottom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #inputNewsletter
  {
    border-radius: $m-middle;
  }
}
