main.form form div.submit
{
	background-color: var(--background);
	width:100%;
}

main.form form button
{
  cursor: pointer;
  justify-content: center;
  margin: 1em auto;
  padding: 0.5em;
  background-color: var(--background);
  box-shadow: 0px 2px 5px var(--heading);
  min-width: 40%;
	color: var(--first);
  border-radius: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
	align-items: center;
}

main.form form button:hover
{
  background-color: var(--first);
  color: var(--background);
  border-radius: 1.5em;
  transform: scale(1,1.1);
}

main.form form span
{
	margin-right:5%;
	justify-content: flex-end;
}







main.form form label *:focus
{
  outline-color: var(--link);
  outline-style: outset;
}

form .error
{
  color: #ff0000;
}

label.error
{
  color: var(--link);
  position: absolute;
  margin-left: 15rem;
}

label.required input + span.error:not([title])::after
{
	color: green;
	content:"\2611";
  position: relative;
  margin-right: -1em;
}

label.required input + span.error[title]::after
{
	color: red;
	content:"\26A0";
  position: relative;
  margin-right: -1em;
}
