header
{
  background-color: $color-3;
  color: #fff;

  @include bp(md) {
    height: 30vh;
  }
  @include bp(xs) {
    height: 60vh;
  }

  &::before
  {
    content: " ";
    position: absolute;
    width: 100%;
    height: 9.5rem;
    background-image: url("../../images/BgTop.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 110%;

    @include bp(lg) {
      height: 13.5rem;
    }
  }

  nav.login
  {
    background-color: $color-1;
    z-index: 10;
    height: 2.5rem;

    a
    {
      text-transform: uppercase;
      color: #fff;

      &::before
      {
        content: " ";
        position: absolute;
        background-image: url("../../images/Key.svg");
        background-position: left;
        background-repeat: no-repeat;
        height: $m-middle;
        width: $m-middle;
        transform: translateX(-100%);
      }
    }

  }
  nav.header
  {
    height: 6.5rem;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;

    @include bp(lg) {
      height: 10.5rem;
      align-items: center;
    }
    @include bp(xs) {
      height: 15.5rem;
    }

    & > .header
    {
      height: 100%;
      justify-content: space-around;
      @include bp(xl) {
        align-items: center;
      }

      .logo {
        position: absolute;
        left: 2vw;
        top: 0em;
        @include bp(xxl) {
          left: 5vw;
        }

      }

      .navbar-brand
      {
        font-size: $large;
        color: #000;
        position: relative;
        z-index: 1000;
        sup {
          top: -1em;
          font-size: 50%;
        }
      }

      .menu
      {

      }

      li.nav-item
      {
        z-index: 5;

        a {
          font-size: $default;
          color: $color-6;

          &.active
          {
            color: #000;
          }
        }
      }
    }

  }

}
