.navbar {
  background: #ffffff;
  padding: 2rem;

  .navbar-brand {
    position: absolute;
    top: calc(50% - 2.8rem);
    left: 50%;
    transform: translate(-50%);
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    @include bp(lg) {
      top: 0.5rem;
    }

  }

  .navabar-nav {
    margin-left: auto;
    @include bp(lg) {
      flex-direction: column;
      padding-top: 4rem;
    }
  }

  .nav-item {
    padding: 0 2.5rem;
    font-family: "R-bold";
    @include bp(lg) {
      padding: 1rem 3rem;
    }

    &.active, &:hover {
      color: $color-1;
      text-decoration: underline;
    }
    &.logout {
      text-transform: uppercase;
      background: url("../../images/icons/arrow-right.png") no-repeat right center;
    }
  }

  .navbar-toggler {
    margin-left: auto;

    .navbar-toggler-icon {
      background: url("../../images/icons/close.png") center no-repeat;
      background-size: contain;
      width: 1.8rem;
      height: 1.8rem;
    }

    &.collapsed {
      .navbar-toggler-icon {
        background: url("../../images/icons/hamburger.png") center no-repeat;
        background-size: contain;
      }
    }
  }

}
