/* prodotti */

section.categories
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
  background-color: $color-5;
  width: 100%;
  padding: 0 15%;

	& > *
	{
	  padding: 0.5rem 0;
	}

	nav
	{
		display: flex;
	  justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		a
		{
		  border: 0.3em solid $color-2;
		  display: flex;
		  flex-direction: column;
		  width: 30%;
		  text-transform: uppercase;
		  outline-color: white;
		  outline-offset: -0.25em;
		  outline-style: solid;
		  outline-width: 0.05em;

			img
			{
			  display: flex;
			  width: 100%;
			}
		}
	}

	a
	{
	  color: $color-1;
	}

	span
	{
	  background-color: $color-2;
	  color: #fff;
	  display: block;
	}


}




section.categories span::before,
section.categories > a::before
{
  content:"[";
}

section.categories span::after,
section.categories > a::after
{
  content:"]";
}
