.product
{
  .col-md-3 {
    @include bp(md) {
      flex: 0 0 50% !important;
      max-width: 50% !important;

    }

    .card.mb-4.shadow-sm
    {
      box-shadow: 1px 1px 15px #999 !important;

      &:hover
      {
        transform: scale(0.995);
        box-shadow: 1px 1px 15px #666 !important;
        opacity: 0.9;
      }
    }

  }

}
