.section {
  padding: 10rem 0;
  margin-bottom: 3rem;

  &.bg-color-1 {
    //
    background-color: $color-1;
  }
  &.bg-color-2 {
    //
    background-color: $color-2;
  }
  &.bg-color-3 {
    // white
    background-color: #ffffff;
  }
  &.bg-color-4 {
    // 
    background-color: $color-3;
  }
}
