<!DOCTYPE html>
{% set lang = (app.request.getPreferredLanguage()) ? app.request.getPreferredLanguage() : app.request.defaultLocale %}
{{ app.request.setLocale(lang) }}
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block prefix %} BlackCoffee - {% block title %} {% endblock %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=0.5">
        {% block stylesheets %}

        <!-- AOS CSS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" type="text/css" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}

        {% endblock %}
    </head>
    <body class="targetBody">
        {% block menu %}

        {% set currentPath = path(app.request.attributes.get('_route'),
                               app.request.attributes.get('_route_params')) %}

            {{ render(path('pages', {currentPath})) }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('shared/_footer.html.twig') }}
        {% endblock %}


        {% block javascripts %}

            <!-- AOS JavaScript -->
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
