<link href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />

<div class="form_widget" data-featherlight-gallery data-featherlight-filter="a">

{% for image in field.value %}

    <a href="/upload/images/products/{{ image.image }}" class="ea-lightbox-thumbnail gallery" >
      <img src="/upload/images/products/{{ image.image }}" alt="" style="height: 150px;" />
    </a>

{% endfor %}

</div>

<script src="https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8">

$(document).ready(function(){
$('a.gallery').featherlightGallery({
  previousIcon: '«',
  nextIcon: '»',
  galleryFadeIn: 300,

  openSpeed: 300,
  closeSpeed:   300
});
}
</script>
