<div class="form_widget">

    <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox" data-featherlight-close-on-click="anywhere">
      <img src="/upload/images/{{ field.value }}"
    </a>

    <div id="ea-lightbox" class="ea-lightbox" >
      <img src="/upload/images/{{ field.value }}"
    </div>

</div>
