{% extends 'base.html.twig' %}

{% block title %} {% trans %} orders {% endtrans %} {% endblock %}

{% block body %}

    <h1>  {% trans %} orders {% endtrans %} </h1>
    {{ dump(app.session)}}

    <table>
    <tr>
          <td>ID Ordine</td>
          <td>Stato</td>
          <td>Nome Prodotto</td>
          <td>Quantità</td>
          <td>Prezzo</td>
          <td>Totale</td>
          <td>Email</td>

</tr>

    {% for order in orders %}
<tr>
      <td>{{ order.id }}</td>
      <td>{{ order.status }}</td>
      {% for item in order.items %}
          <td>{{ item.product}}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product.price }} €</td>
          <td>{{ item.product.price * item.quantity }} €</td>
      {% endfor %}
      <td>{{ order.user.email }}</td>


</tr>
    {% endfor %}
    </table>

{% endblock %}
