<footer>
  <div class="container-xl p-5">
    <div class="row py-5 justify-content-between">

    <div class="footwrap" data-aos-delay="0" data-aos="fade-up">
      <h2>BLACK COFFEE<sup>®</sup></h2>
      <ul>
        <li>Via Modena 66/B</li>
        <li>40123 Bologna</li>
        <li>TEL 051. 555.610</li>
      </ul>
    </div>

    <div class="footwrap social" data-aos-delay="50" data-aos="fade-up">
      <h2>SEGUICI SU</h2>
      <ul class="row justify-content-center">
        <li>
          <a href="http://domain.example.org/"><img src="{{ asset('build/images/FB.svg') }}" alt="Facebook" title="Facebook"></a>
        </li>
        <li>
          <a href="http://domain.example.org/"><img src="{{ asset('build/images/IG.svg') }}" alt="Instagram" title="Instagram"></a>
        </li>
      </ul>
    </div>

    <div class="footwrap newsletter" data-aos-delay="100" data-aos="fade-up">
      <h2>NEWSLETTER</h2>
      <form class="newsletter d-flex flex-column" method="post" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data">

        <div class="form-group">
          <input placeholder="Inserisci email" type="email" name="email" class="form-control-lg" required="required">
        </div>
        <div class="form-group d-flex">
          <label for="inputNewsletter">
            <a href="{{ path('privacy_policy')}}"> Informativa Privacy</a>
          </label>
          <input class="form-control" type="checkbox" id="inputNewsletter" name="consenso" required />
        </div>

        <button type="submit" name="submit" value="newsletter">Iscriviti</button>
      </form>
    </div>

    </div>
  </div>
  <div class="foot pb-5">
    <ul class="d-flex">
      <li>PIva 123456789</li>
      <li>Copyright BLACKCOFFEE</li>
      <li>
        <a href="{{ path('cookie_policy')}}">Cookie</a> & <a href="{{ path('privacy_policy')}}">Privacy Policy</a>
      </li>
      <li>Powered by ME</li>
    </ul>
  </div>
</footer>
