<header class="">

{% set currentPath = app.request.query.all().currentPath %}
{% set currentPath = currentPath|replace({ ("/"): "" }) %}

  <nav class="navbar navbar-expand-lg login ">
      {% if app.user %}
    <div class="container justify-content-between">
      <span> Welcome {{ app.user.email }} </span>
      <a href="/logout" title="Vai alla pagina di Logout">Logout
      {% else %}
    <div class="container justify-content-end">
      <a href="/login" title="Vai alla pagina di Login">Login
      {% endif %}</a>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg header menu">
    <div class="header container">
    <img class="logo" src="{{ asset('build/images/MacchiaTop.svg') }}" alt="Logo" title="Logo"/>
    <a class="navbar-brand" href="/" title="Logo di ">Black Coffee
      <sup>®</sup>
    </a>

    <div class="menu">
      <ul class="menu nav">

{% for page in pages_list %}
      <li class="nav-item">
        <a class="{{ (currentPath == page.url or (currentPath == "" and page.url == "homepage")) ? "active" : "" }} nav-link" href=" {{ path(page.url) }}" > {{ page.title}}</a>
      </li>
{% endfor %}

      </ul>
      </div>
      </div>
  </nav>
</header>
