{% extends 'base.html.twig' %}

{% block title %} Eventi {% endblock %}

{% block body %}

    <h1> Eventi </h1>

<div class="container-xl">
<div class="row justify-content-center">

{% if product %}
<div class="col-md-3">
  <article class="card mb-4 shadow-sm">

  {% if not (product.image) %}
    {% set image = product.attachments|first %}
  {% else %}
    {% set image = product.image %}
  {% endif %}

  <a href="{{ path('products_show', {id: product.id} ) }}" data-featherlight="#{{product.id}}" data-featherlight-close-on-click="anywhere">

  <img class="bd-placeholder-img card-img-top"
    src="/upload/images/products/{{ image }}"
    alt="{{ product.name }}"
    title="{{ product.name }}"
  />

  </a>

    <div class="card-body">

      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>

      <div class="d-flex justify-content-between align-items-center">



        <span>{{ product.price }} €</span>
      </div>

    </div>
  </article>
</div>

{% else %}
    No products have been found.

{% endif %}

</div>
</div>

{% endblock %}
